.paginator {
    margin: 10px;
}

.ollPages {
    padding: 2px;
    border: 1px solid grey;
}

.ollPages:hover {
    font-weight: bold;
}

.selectedPage {
    padding: 2px;
    border: 1px solid grey;
    font-weight: bold;
}