.descriptionBlock {
    padding: 10px;
}

.moto {
    background-color: white;
    text-align: center;
    max-height: 200px;
}

.moto img {
    /* position: relative; */
    max-height: 200px;
    /* max-height: 100%; */
}