.descriptionBlock {
    padding: 10px;
}

.mainPhoto{
    max-height: 200px;
}

.moto {
    background-color: white;
    text-align: center;
    max-height: 300px;
}

.moto img {
    max-height: 300px;
}

.contact {
    padding-left: 10px;
}

.contactItem {
    margin: 5px 0px;
}

.contactItemName {
    min-width: 100px;
}