.app-wrapper {
  /* Фиксируем ширину */
  width: 1200px;
  /* Выравниваем по середине */
  margin: 0 auto;
  /* Используем grid для структурирования блоков */
  display: grid;
  /* Задаем схему размещения блоков */
  grid-template-areas: 
  "h h"
  "n c";

  /* Первая строка занимает 60 px, остальное - фракция */
  grid-template-rows: 40px 1fr;
  /* Одна колонка занимает 2 фракции, сторая - 10 */
  grid-template-columns: 2rf 10rf;
  /* Расстояние между элементами */
  /* grid-column-gap: 10px; */
  /* grid-row-gap: 1em; */
  /* grid-gap: 2px; */
  column-gap: 1px;
  row-gap: 1px;
}